-# frozen_string_literal: true
= simple_form_for(@profile) do |f|
	= f.input :first_name ,label: false, placeholder: t('.first_name')
	= f.input :last_name ,label: false, placeholder:  t('.last_name')
	%h4 Optional Contact Information
	= f.input :number,label: false, placeholder: t('posts.form.number')
	= f.input :city,label: false, placeholder: t('posts.form.city')
	= f.input :address_one,label: false, placeholder: t('posts.form.address_one')
	= f.input :address_two,label: false, placeholder: t('posts.form.address_two')
	= f.input :address_three,label: false, placeholder: t('posts.form.address_three')
	= f.input :postal_code,label: false, placeholder: t('posts.form.postal_code')
	= f.button :submit, t('.button')
