= javascript_include_tag 'ratyrate.js', "data-turbolinks-track" => false

%p#notice= notice


%p= @avg
.avg-rating{'data-score' => @avg}


%little
	based on
	=@reviews.count
	customer feedback
%p= @profile.first_name
%p= @profile.last_name
%p= @profile.user.email
%p= @profile.number
%p= @profile.city
%p= @profile.address_one
%p= @profile.address_two 
%p= @profile.address_three
%p= @profile.postal_code


= link_to 'Edit', edit_profile_path(@profile)
\|
= link_to 'Back', root_path

.br
.br
.h2 Seller's Feedback

-#Only allow user to add a review only if the three conditions are met
-#	 1) the user is signed in
-#	 2) the user has set up their profile
-#	 3) the user is not on their own profile page
- if current_user != nil
	- if current_user.profile != nil 
		-if @profile.id!= current_user.profile.id
			= link_to "Add Review", new_profile_review_path(@profile) 

.br
.hr


= render 'review'

:javascript
	$('.review-rating').raty({
		path: '/assets',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});

:javascript
	$('.avg-rating').raty({
		path: '/assets',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});