= javascript_include_tag 'ratyrate.js', "data-turbolinks-track" => false

%p#notice= notice

%p= @profile.first_name
%p= @profile.last_name
%p= @profile.user.email
%p= @profile.number
%p= @profile.city
%p= @profile.address_one
%p= @profile.address_two 
%p= @profile.address_three
%p= @profile.postal_code


= link_to 'Edit', edit_profile_path(@profile)
\|
= link_to 'Back', root_path

.br
.br
.h2 Seller's Feedback

- if current_user != nil
	- if current_user.profile != nil 
		= link_to "Add Review", new_profile_review_path(@profile) 

.br
.hr


= render 'review'

:javascript
	$(document).ready(function() {
		$('.review-rating').raty({
			readOnly: true,
			score: function() {
				return $(this).attr('data-score');
			},
			path: '/assets/'
		});
	});