.text-field
  = form.label :email
  = form.text_field :email, type: 'email'
.password-field
  = form.label :password
  = form.password_field :password
.fname-field
  = form.label :Firstname
  = form.text_field :Firstname
.sname-field
  = form.label :Lastname
  = form.text_field :Lastname