%nav.navbar.navbar-default.navbar-static-top{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button#toggle.navbar-toggle{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag('/assets/EarthLogo.png'), root_path,class: 'navbar-brand'
      = link_to t('app_title'), root_path, class: 'navbar-brand'
    / Collect the nav links, forms, and other content for toggling
    #navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          - if current_user.profile==nil
            %li= link_to t('.createprofile'), new_profile_path
          - elsif current_user.profile.new_record?
            %li= link_to t('.createprofile'), new_profile_path
          - elsif current_user.profile.persisted?
            %li= link_to t('.post'), new_post_path
            %li= link_to t('.myprofile'), current_user.profile
          %li= link_to t('.signout'), destroy_user_session_path, method: :delete
        - else
          %li= link_to t('.register'), new_user_registration_path
          %li= link_to t('.signin'), new_user_session_path
.container
  - flash.each do |name, msg|
    = content_tag :div, msg, class: 'alert alert-info'