%nav.navbar.navbar-default
	.container
		.navbar-header
			= link_to t('app_title'), root_path, class: 'navbar-brand'	
		%ul.nav.navbar-nav.pull-right
			- if user_signed_in?
				- if current_user.profile == nil 
					%li= link_to 'Create Profile', new_profile_path
				- else
					%li= link_to 'View Profile', current_user.profile
					%li= link_to t('.post'), new_post_path
				%li= link_to t('.signout'), destroy_user_session_path, method: :delete
			- else
				%li= link_to t('.register'), new_user_registration_path
				%li= link_to t('.signin'), new_user_session_path
		%ul.nav.navbar-nav.pull-right
			%li.dropdown
				%a.dropdown-toggle{'aria-expanded' => 'false', 'data-toggle' => 'dropdown', :href => '#', :role => 'button'} 
					Categories
					%span.caret
				%ul.dropdown-menu{:role=>'menu'}
					- Category.all.each do |category|
						%li{:class => "#{'selected' if params[:category] == category.name}"} 
						=link_to category.name, posts_path(category: category.name), class: 'link'
