-# Takes in the users messages
-# Hidden parameters such as the user/post/seller object are also taken in
-# They'll be used to generate an email which will be sent to the seller
= simple_form_for :anything  do |f|
	= f.input :message,label: false, placeholder: t('.title')
	= f.input :user, :as => :hidden, :input_html => { :value => current_user}
	= f.input :seller_user, :as => :hidden, :input_html => { :value => @seller}
	= f.input :post, :as => :hidden, :input_html => { :value => @post }
	= f.button :submit, t('.submit'), disabled: true, readonly: true

