= simple_form_for @post, :html => { :multipart => true } do |f|
	= f.input :title,label: false, placeholder: t('.title')
	= f.input :description,label: false, placeholder: t('.description')
	= select_tag(:category_id, options_for_select(@list), :prompt => t('.category'))
	= f.input :price,label: false, placeholder: t('.price')
	%h4= t('.contact')
	= f.input :phone_number,label: false, placeholder: t('.number')
	= f.input :city,label: false, placeholder: t('.city')
	= f.input :address_one,label: false, placeholder: t('.address_one')
	= f.input :address_two,label: false, placeholder: t('.address_two')
	= f.input :address_three,label: false, placeholder: t('.address_three')
	= f.input :postal_code,label: false, placeholder: t('.postal_code')
	= f.button :submit, label: t('.submit')

