
= render 'filter'

%h1.category= params[:category]

- if @posts.count == 0
	%p= t('.no_post')

%h1 List of Posts

- @posts.each do |post|
	%h3= link_to post.title, post_path(post)
	%p= post.description




= link_to t('.add_post'), new_post_path

