-# masthead containing an image that covers the width of a page
-# Has a title, subehading and a search bar taken from: 
-# https://bootsnipp.com/snippets/featured/search-panel-with-filters
= render 'masthead'

.container
	%h2.category
		%span.categories
			- if (params[:category]==nil) 
				=t('.recent')
			- else
				= params[:category]
			- if @posts.count == 0
				%p= t('.no_post')
		%hr

	-#Displays all posts in descending order of creation
	= render 'shared/posts'

	%hr 
		.intro
			#wrap.wrapper
				%h3= t('.myproject')
				%p= t('.myappdescription')

