-# masthead containing an image that covers the width of a page
-# Has a title, subehading and a search bar taken from: 
-# https://bootsnipp.com/snippets/featured/search-panel-with-filters
= render 'masthead'

.container
	%h2.category
		%span.categories
			- if (params[:category]==nil) 
				Recently added posts
			- else
				= params[:category]
			- if @posts.count == 0
				%p= t('.no_post')
		%hr

	.masonry
		- @posts.each do |post|
			.card
				%a{:href => "/posts/#{post.id}"}
					= image_tag post.post_image.url(:post_index), class: "post"
					.description
						%h4= post.title
						%p= post.price


	%hr 
		.intro
			#wrap.wrapper
				%h3 Web Application Project
				%p based on a website such as gumtree allowing users to make and upload posts to make some money.

