%header.masthead{style: "background-image: url('assets/sample.jpg')"}
	.overlay
	.container
		.row
			.col-lg-12.col-md-10.mx-auto
				.site-heading
					%h1 Just Passing
					%span.subheading Treat yourself this Christmas

%h1.category= params[:category]

- if @posts.count == 0
	%p= t('.no_post')

%h1 List of Posts


.row
	- @posts.each do |post|
		.col-md-4
			%a{:href => "/posts/#{post.id}"}
				= image_tag post.post_image.url(:post_index), class: "post"
				%h3= link_to post.title, post_path(post)
			%p= post.description




= link_to t('.add_post'), new_post_path

