
= render 'filter'

%h1.category= params[:category]

- if @posts.count == 0
	%p No posts available

%h1 List of Posts

- @posts.each do |post|
	%h3= link_to post.title, post_path(post)
	%p= post.description




= link_to 'Add a post', new_post_path

