%h2= @post.title
%p= @post.description
%p= @post.category.name

= link_to 'Back', posts_path

- if user_signed_in?

	- if @post.user_id == current_user.id?
		= link_to 'Edit', edit_post_path(@post)
		= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?'}

