.container#wrapped
	#post_show.row
		.col-md-8.col-md-offset-2
			.panel.panel-default
				.panel-heading.post_image
					= image_tag @post.post_image.url(:post_show), class: 'image_show'
				.panel-body
					%h1= @post.title
					%p
						= @post.category.name + ' | ' if @post.category 
						= t('.creator')
						= link_to @post.user.profile.first_name+' '+ @post.user.profile.last_name, @post.user.profile
						= link_to " | "+@post.user.email, @post.user.profile
					%p= @post.description
					-# has the user logged in and set up a profile?
					-# If so display a contact button
					-# if user_signed_in?
					- if user_signed_in?
						- if current_user.profile.persisted? &&  @post.user_id!=current_user.id
							= render "contact"
				.panel-footer
					.row
						.col-md-12
							- if user_signed_in? && @post.user_id == current_user.id
								.btn-group.pull-right
									= link_to t('.edit'), edit_post_path(@post), class: "btn btn-default"
									= link_to t('.delete'), post_path(@post), method: :delete, data: { confirm: t('.confirmation')}, class: "btn btn-default"
									= link_to t('.back'), posts_path, class: "btn btn-default"
							- else
								.btn-group.pull-right
									= link_to t('.back'), posts_path, class: "btn btn-default"
									
