%h1 Editing review

= simple_form_for([@profile, @review]) do |f|
	= f.input :rating ,label: false, placeholder: "Rate the seller, enter a value between 0 and 5"
	= f.input :comment ,label: false, placeholder:  "Write a comment!"
	= f.button :submit, label: t('.submit')

= link_to 'Back', profile_path(@profile)
